<blockquote class="blockquote">
    <div class="row">
        <div class="col">
            <label>Identificacion de la persona a buscar</label>
            <input type="text"  name="identificacionBuscar"  placeholder="Identificacion"
                [(ngModel)]="identificacionBuscar" />
        </div>
        <div class="col">
            <button class="btn btn-info" (click)="buscar()">Buscar</button>
        </div>
    </div>
    <div class="Ocultar" id="RegistroTercero">
        <form [formGroup]="formularioRegistroTercero">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de documento</label>
                <select name="SlcSexo" class="form-control" id="inlineFormCustomSelectPref" formControlName="tipoId"
                    [ngClass]="{'is-invalid':  control.tipoId.touched && control.tipoId.errors}">
                    <option value="Nit">Nit</option>
                    <option value="CC">CC</option>
                </select>
                <div *ngIf="control.tipoId.errors" class="invalid-feedback">
                    <div *ngIf="control.tipoId.errors.required">Se require el tipo de documento</div>
                </div>
            </div>
            <div class="form-group">
                <label>Identificacion</label>
                <input type="text"  name="identificacion"  placeholder="Identificacion" class="form-control"
                     formControlName="id" [ngClass]="{'is-invalid':  control.id.touched && control.id.errors}"   />
                <div *ngIf="control.id.errors" class="invalid-feedback">
                    <div *ngIf="control.id.errors.required">Se require el documento</div>
                </div>
            </div>
            <div class="">
                <label>Nombre</label>
                <input type="text"  name="nombres"  placeholder="Nombres" class="form-control" formControlName="nombre"
                    [ngClass]="{'is-invalid':  control.nombre.touched && control.nombre.errors}" />
                <div *ngIf="control.nombre.errors" class="invalid-feedback">
                    <div *ngIf="control.nombre.errors.required">Se require el nombre</div>
                </div>
            </div>
            <div class="">
                <label>Direccion</label>
                <input type="text"  name=""  placeholder="direccion" class="form-control"  formControlName="direccion"
                    [ngClass]="{'is-invalid':  control.direccion.touched && control.direccion.errors}" />
                <div *ngIf="control.direccion.errors" class="invalid-feedback">
                    <div *ngIf="control.direccion.errors.required">Se require la dirreccion </div>
                </div>
            </div>

            <div class="">
                <label>Telfono</label>
                <input type="text"  name=""  placeholder="Telefono" class="form-control"  formControlName="telefono"
                    [ngClass]="{'is-invalid':  control.telefono.touched && control.telefono.errors}" />
                <div *ngIf="control.telefono.errors" class="invalid-feedback">
                    <div *ngIf="control.telefono.errors.required">Se require el telefono</div>
                </div>
            </div>

            <div class="">

            </div>

            <div class="row">
                <label>Pais</label>
                <input type="text"  name=""  placeholder="pais" class="form-control"  formControlName="pais"
                    [ngClass]="{'is-invalid':  control.pais.touched && control.pais.errors}" />
                <div *ngIf="control.pais.errors" class="invalid-feedback">
                    <div *ngIf="control.pais.errors.required">Se require el pais</div>
                </div>
                <div class="col">
                    <label>Departamento</label>
                    <input type="text"  name=""  placeholder="departamento" class="form-control"
                         formControlName="departamento"
                        [ngClass]="{'is-invalid':  control.departamento.touched && control.departamento.errors}" />
                    <div *ngIf="control.departamento.errors" class="invalid-feedback">
                        <div *ngIf="control.departamento.errors.required">Se require la departamento</div>
                    </div>
                </div>
                <div class="col">
                    <label>Ciudad</label>
                    <input type="text"  name=""  placeholder="departamento" class="form-control"
                         formControlName="ciudad"
                        [ngClass]="{'is-invalid':  control.ciudad.touched && control.ciudad.errors}" />
                    <div *ngIf="control.ciudad.errors" class="invalid-feedback">
                        <div *ngIf="control.ciudad.errors.required">Se require la ciudad</div>
                    </div>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-info" id="btnRegistrar" (click)="onSubmit()"
                [disabled]="formularioRegistroTercero.invalid">
                Registrar
            </button>
        </form>
    </div>

    <div class="Ocultar" id="RegistroPago">
        <form [formGroup]="formularioRegistroPago">
            <div class="form-group">
                <label>Codigo</label>
                <input type="text" class="form-control"
                     formControlName="codigo" [ngClass]="{'is-invalid':  controlPago.codigo.touched && controlPago.codigo.errors}"   />
                <div *ngIf="controlPago.codigo.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.codigo.errors.required">Se require el codigo</div>
                </div>
            </div>
            <div class="form-group">
                <label>Identificacion</label>
                <input type="text"  name="identificacion"  placeholder="Identificacion" class="form-control"
                     formControlName="idTercero" [ngClass]="{'is-invalid':  controlPago.idTercero.touched && controlPago.idTercero.errors}"   />
                <div *ngIf="controlPago.idTercero.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.idTercero.errors.required">Se require el documento</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de pago</label>
                <select name="SlcSexo" class="form-control"formControlName="tipo"
                    [ngClass]="{'is-invalid':  controlPago.tipo.touched && controlPago.tipo.errors}">
                    <option value="Administrativos">Administrativos</option>
                    <option value="Financieros">Financieros</option>
                    <option value="Impuestos">Impuestos</option>
                    <option value="Retenciones">Retenciones</option>
                </select>
                <div *ngIf="controlPago.tipo.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.tipo.errors.required">Se require el tipo de pago</div>
                </div>
            </div>
            <div class="form-group">
                <label >Fecha del pago:</label>
                <input type="date" class="form-control"
                 formControlName="fecha" [ngClass]="{'is-invalid':  controlPago.fecha.touched && controlPago.fecha.errors}">
                <div *ngIf="controlPago.fecha.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.fecha.errors.required">Se require la fecha del pago</div>
                </div>
            </div>
            <div class="form-group">
                <label>Valor</label>
                <input type="number"  name=""  placeholder="" class="form-control" formControlName="valor"
                    [ngClass]="{'is-invalid':  controlPago.valor.touched && controlPago.valor.errors}" />
                <div *ngIf="controlPago.valor.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.valor.errors.required">Se require el valor del pago</div>
                </div>
            </div>
            <div class="form-group">
                <label>Iva</label>
                <input type="number"  name="" class="form-control"  formControlName="iva"
                    [ngClass]="{'is-invalid':  controlPago.iva.touched && controlPago.iva.errors}" />
                <div *ngIf="controlPago.iva.errors" class="invalid-feedback">
                    <div *ngIf="controlPago.iva.errors.required">Se require el iva</div>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-info"  (click)="onSubmitPago()"
                [disabled]="formularioRegistroPago.invalid">
                Registrar
            </button>
        </form>
    </div>


    
</blockquote>